#header{
    background-color: #333;
    overflow: hidden;
}

#header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #header a:hover {
    background-color: #ddd;
    color: black;
  }

  #header a#about, a#life, a#education, a#experience, a#workExperience, a#funAndGames {
    background-color: #83aa04;
    color: white;
  }